#la-poste-tracking-for-woocommerce {
	.inside {
		padding: 12px;
		margin: 0;
	}
	.button-show-form {
		margin: 0;
	}
	#shipment-tracking-form {
		display:none;
		p.form-field {
			margin-top: 0;
		}
	}
	input {
		width:100%;
	}
	.meta{
		font-size:11px;
		color:#999;
		padding: 10px;
		margin: 0;
		a.delete-tracking {
			color:#a00;
		}
	}
	#tracking-items {
		margin: 0;
	}
	.tracking-content {
		background:#efefef none repeat scroll 0 0;
		padding: 10px;
		position:relative;
		margin: 0;
		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: -10px;
			left: 20px;
			width: 0;
			height: 0;
			border-width: 10px 10px 0 0;
			border-style: solid;
			border-color: #efefef transparent;
		}
	}
}